/* CSS declarations go here */
body{
	background-color:#000;
	background-image: url('images/milkywaybg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
h1, h2, footer{
	color: #fff
}
h2{	
	font-size: 170%
}
h3{
	font-size: 160%
}
h4{
	font-size: 150%
}
h5{
	font-size: 140%
}
.empty{
	display: block;
	height: 450px
}

