<template name="overview">
	<h1>Our fleet is awesome!</h1>
	{{#each organizations}}
	<dl class="accordion" data-accordion>
  		<dd class="accordion-navigation">
    			<a href="#{{_id}}">{{name}}</a>
			<div id="{{_id}}" class="content">
				
				<dl class="accordion" data-accordion>
					<dd class="accordion-navigation">
						<a href="#n">Fleets</a>
						<div id="n" class="content">
							
							<dl class="accordion" data-accordion>
								<dd class="accordion-navigation">
									<a href="#panel112">Element</a>
									<div id="panel112" class="content">
										
										<dl class="accordion" data-accordion>
											<dd class="accordion-navigation">
												<a href="#panel1112">Ship</a>
												<div id="panel1112" class="content">
													Panel 1112. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
												</div>
											</dd>	  	
										</dl>
										
									</div>
								</dd>	  	
							</dl>
							
						</div>
						
					</dd>	  	
				</dl>
	    		</div>
  		</dd>
	</dl>
	{{/each}}
</template>
